.call-to-action {
  text-align: center;

  p {
    color: white;
    font-family: Asap, sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  button {
    @extend p;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
