* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292c34;
}

.loose {
  border-color: red !important;
}

.win {
  border-color: green !important;
}

.tie {
  border-color: yellow !important;
}
