.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: $fontFamily;
  position: relative;
  transition: all 2s ease;

  .badge {
    background: #e2584d;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: $fontFamily;

    &#user-label {
      position: absolute;
      top: 30px;
      left: -25px;
    }

    &#computer-label {
      position: absolute;
      top: 30px;
      right: -30px;
    }
  }
}

.loose {
  border-color: red;
}

.win {
  border-color: green;
}

.tie {
  border-color: yellow;
}
